!!! 5
html(lang="en")
	head
		if site
			title #{site}
		else
			title #{default_title}

		link(href="css/bootstrap.min.css", media="screen", rel="stylesheet", type="text/css")
		link(href="css/custom.css", media="screen", rel="stylesheet", type="text/css")

		block scripts
		
	block content
