body {
	font-size: 14px;
	padding-top: 20px;
	padding-bottom: 40px;
}

div.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}

div.container-narrow > hr {
	margin: 1em 0;
}

div.promote  {
	margin: 4em 0;
	text-align: center;	
}

div.promote h1 {
	font-size: 6em;
	line-height: 1em;
	margin-bottom: .2em;
	clear: both;	
}

div.promote .btn {
	font-size: 1.4em;
	padding: 1em 2em;
}
 
@media (max-width: 767px) { 
	
	div.container-narrow {
		max-width: 350px;
	}

	div.promote h1 {
		font-size: 2em;
	}

	div.promote .btn {
		font-size: 1em;
		padding: 1em 2em;
	}	
	
}




